.icon {
  display: flex;
  background-repeat: no-repeat;

  &.app-logo-black {
    background-image: image_url('/logo-black.svg');
    width: 3.75rem;
    height: 3.5rem;
    background-size: 3.0rem;
    background-position-y: center;
    background-position-x: left;
  }
  &.icon-edit-links {
    background-image: image_url('edit.svg');
    width: 1rem;
    height: 1rem;
    background-size: 1rem;
  }
  &.icon-close-popup {
    background-image: image_url('close.svg');
    width: 1rem;
    height: 1rem;
    background-size: 1rem;
  }
  &.icon-delete {
    background-image: image_url('delete.svg');
    width: 1rem;
    height: 1rem;
    background-size: 1rem;
  }
  &.icon-add-circle {
    background-image: image_url('add-circle.svg');
    width: 1rem;
    height: 1rem;
    background-size: 1rem;
  }
  &.icon-edit {
    background-image: image_url('edit.svg');
    width: 1rem;
    height: 1rem;
    background-size: 1rem;
  }
  &.icon-close {
    background-image: image_url('close.svg');
    width: 1rem;
    height: 1rem;
    background-size: 1rem;
  }
  &.icon-draggable {
    background-image: image_url('draggable.svg');
    width: 1.5rem;
    height: 1.5rem;
    background-size: 1.5rem;
  }
}
