$small-width: 700px;
$project-item-bg-color: #fff;
$project-container: #d5e2f6;
$backlog-container: #f6e8d5;
$gray-line: #aaa;

.App {
    text-align: center;
    background: #313131;
    height: 100vh;    
    .navbar {
      background-color: #364c63;
    }
    p.alert, p.notice {
      padding: 0;
      color: white;
    }
}
  
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
  
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
  
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#projects-main-container{
  .custom-w-20 {
    @media screen and (min-width: $small-width) {
      -webkit-box-flex: 0;
      box-flex: 0;
      flex: 0 0 20% !important;
      max-width: calc(20% - 1.5rem);
    }
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .project-edit {
    width: calc(100% - 1.5rem);
    input#projectTitleInput {
      width: 100%;
      border: 1px solid $gray-line !important;
      border-radius: 0.5rem !important;
      outline: none !important;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  .project-title {
    text-align: left;
    background-color: #fff !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    span {
      cursor: text;
    }
  }

  .custom-space-between {
    justify-content: space-between;
  }
  
  .d-flex > .custom-column-body {
    background-color: #fff;
    padding: 0.75rem;
    border-radius: 0.5rem;
    .row {
      margin: 0;
    }
  
    .rubber-band {
      cursor: grab;
      margin-top: 5px;
      display: flex;
      align-items: center;
      height: 30px;
      &.is-dragging {
        transition: .5s linear;
        opacity: .9;
      }
      & .line-container {
        width: 100%;
        position: relative;
        height: 2px;
        .line {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(to right, transparent 50%, $gray-line 50%);
          background-size: 25px 100%;
        }
      }
    }

    .custom-field {
      background-color: $project-container;
      border-radius: 0.5rem;
      padding: 10px;
    }

    &.project-dragging {
      transition: .3s linear;
      outline: 2px solid;
      opacity: .8;
    }
  
    .toggler-container {
      display: flex;
      width: 1.5rem;
      .navbar-toggler {
        display: inline-block;
        padding: 0;
        span {
          width: 1em;
          height: 1em;
        }
      }
      .navbar-toggler:focus {
        outline: 0;
      }
    }
  
    .tasks-container {
      nav.dropdown-menu {
        .dropdown-item {
          padding: 0.5rem 1.0rem;
          button {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 0.25rem 1.0rem;
            i {
              margin-right: 0.5rem;
            }
          }
        }
      }
    }

    .tasks-container,
    .custom-backlog {
      margin-top: 0.75rem;
      min-height: 300px;

      &.dragging-over {
        border: 1px solid;
        transition: background-color .5s linear;
        background-color: rgba(46, 35, 35, 0.568);
      }

      div.task-items,
      div.task-create {
        display: flex;
        margin-top: 0.75rem;
        cursor: pointer;

        &>div {
          display: inherit;
          width: 100%;
          overflow: hidden;
        }

        input, span {
          background-color: #fff;
          width: 100%;
          border: 0;
          outline: 0;
          display: inline-block;
          border-radius: 0.5rem;
          height: fit-content;
          line-height: 2rem;
          padding-left: 5px;
          padding-right: 5px;
          padding-top: 2px;
          padding-bottom: 2px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: left;
          outline: none;
          &:focus {
            border: 1px solid #000;
          }
        }
        .react-contextmenu {
          display: block;
          padding: 5px;
          .react-contextmenu-item {
            display: flex;
            &>span {
              text-align: center;
            }
          }
        }
        .item-draggable {
          display: flex;
          width: fit-content;
          align-items: center;
          cursor: grab;
          margin-left: -10px;
        }
        .item-dragging {
          transition: .3s linear;
          outline: 2px solid;
          opacity: .8;
        }
      }

      div.task-create {
        span, input {
          margin-left: 10px;
        }
      }
    }
  
    .custom-backlog {
      margin-top: 5px;
      padding-bottom: 20px;
      min-height: 100px;
      background-color: $backlog-container;
    }
  }
  
  .add-project-btn {
    position: absolute;
    top: 0;
    margin: 0.5rem;
    right: 6rem;

    button {
      background: #f6e8d5;
      border: none;
      color: black;
      font-weight: 500;
    }
  }

  .actions-popup {
    background-color: #e6f0ff;
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
    height: fit-content;
    padding-bottom: 20px;
    margin: 1px;

    &.edit-mode {
      width: calc(60% + 50px);
    }

    .close-popup {
      margin: 4px;
      width: 14px;
      height: 14px;
      cursor: pointer;
      margin-left: auto;
      display: flex;
    }
    
    .title-popup {
      margin-top: 0.75rem;
      margin-bottom: 10px;
      padding-left: 5px;
      display: flex;
      font-weight: 500;
    }

    .edit-links {
      cursor: pointer;
      margin-right: 10px;
    }

    .link-item-popup {
      padding: 5px;
      margin-top: 3px;
      display: flex;
      a {
        color: unset;
        white-space: nowrap;
        overflow: hidden;
        text-decoration: none;
        text-overflow: ellipsis;
        display: inline-block;
      }
      &:hover {
        background-color: $project-container;
        transition: .3s linear;
      }
    }

    .add-links {
      justify-content: flex-end;
      display: flex;
      margin-top: 0.75rem;
      margin-right: 10px;
      cursor: pointer;
    }

    .project-delete-btn {
      display: flex;
      margin: 0 auto;
      margin-top: 0.75rem;
      align-items: center;
      padding: 0.25rem 1.0rem;
      i {
        margin-right: 0.5rem;
      }
    }
  }

  .editable-items {
    display: flex;
    justify-content: space-between;
    .item-edit-actions {
      display: inherit;
      align-items: center;
      &>div {
        margin-left: 5px;
        cursor: pointer;
      }
    }
  }
}
.test {
  overflow: hidden;
}