$small-width: 700px;
$project-item-bg-color: #C0C0C0;
$project-containers: #A9A9A9;

.App {
    text-align: center;
  }
  
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
  
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
  
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#projects-main-container{
  .custom-w-20 {
    @media screen and (min-width: $small-width) {
      -webkit-box-flex: 0;
      box-flex: 0;
      -ms-flex: 0 0 20% !important;
      flex: 0 0 20% !important;
      max-width: calc(20% - 15px);
    }
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .w-85 {
    width: 85%;
  }
  
  .project-title {
    span, input {
      background-color: unset;
      width: 70%;
      border: 0;
      outline: 0;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 0;
      padding-bottom: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .custom-space-between {
    justify-content: space-between;
  }
  
  .d-flex > .custom-column-body {
    background-color: #eff0ff;
    padding-bottom: 0;
  
    .custom-field {
      background-color: $project-containers;
      border-radius: 2%;
      padding: 10px;
    }
  
    .toggler-container {
      display: flex;
      margin-right: 3px;
      .navbar-toggler {
        display: inline-block;
        padding: 0;
        span {
          width: 1em;
          height: 1em;
        }
      }
      .navbar-toggler:focus {
        outline: 0;
      }
    }
  
    .custom-entry {
      margin-top: 10px;
      min-height: 300px;
      margin-right: -15px;
      margin-left: -15px;

      div {
        display: flex;
        margin-top: 10px;
        cursor: text;

        input, span {
          background-color: #eff0ff;
          width: 100%;
          border: 0;
          outline: 0;
          display: inline-block;
          height: fit-content;
          line-height: 2rem;
          padding-left: 5px;
          padding-right: 5px;
          padding-top: 2px;
          padding-bottom: 2px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        input {
          outline: 1px solid;
        }
      }
    }
  
    .custom-backlog {
      margin-top: 30px;
      min-height: 100px;
    }
  }
  
  .add-project-btn {
    margin: 3rem;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
  }

  .actions-popup {
    background-color: #e6f0ff;
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
    height: fit-content;
    padding-bottom: 20px;
    margin: 1px;

    &.edit-mode {
      width: calc(60% + 50px);
    }

    .close-popup {
      margin: 4px;
      width: 14px;
      height: 14px;
      cursor: pointer;
      margin-left: auto;
      display: flex;
    }
    
    .title-popup {
      margin-top: 10px;
      margin-bottom: 10px;
      padding-left: 5px;
      display: flex;
    }

    .edit-links {
      cursor: pointer;
      margin-right: 10px;
    }

    .link-item-popup {
      padding: 5px;
      margin-top: 3px;
      display: flex;
      a {
        color: unset;
        white-space: nowrap;
        overflow: hidden;
        text-decoration: none;
        text-overflow: ellipsis;
        display: inline-block;
      }
      &:hover {
        background-color: $project-containers;
        transition: .3s linear;
      }
    }

    .add-links {
      justify-content: flex-end;
      display: flex;
      margin-top: 10px;
      margin-right: 10px;
      cursor: pointer;
    }

    .project-delete-btn {
      display: flex;
      margin: 0 auto;
      margin-top: 10px;
      i {
        margin-right: 5px;
      }
    }
  }

  .editable-items {
    display: flex;
    justify-content: space-between;
    .item-edit-actions {
      display: inherit;
      &>div {
        margin-left: 5px;
        cursor: pointer;
      }
    }
  }
}
